<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="P:/Users/shalder1/IdeaProjects/TestingBJS">
        <classes>
            <class name="TestCases.HomePageTest">
                <methods>

                    <include name="scrolling"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>